html { 
    background: url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Helvetica Neue", sans-serif;
    /*animation: slide 60s infinite;*/
  }

.main-box{
    width: 420px;
    height: 480px;
    background: rgba(0, 0, 0, 0.8);
    padding: 40px;
    color: white;
    margin: 0 auto;
    margin-top: 102px;
    text-align: center;
}

.social-icons{
    font-size: 40px;
}

.social-icons a{
    color: white;
}

.prof-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

h1{
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 40px;
}

p{
    font-weight: 500;
    letter-spacing: 1px;
}

.line{
    width: 350px;
    margin: 0 auto;
    border-top: 1px solid white;
}

/*@keyframes slide{
   15%{
       background-image: url(../images/background.jpg);
   } 
   30%{
       background-image: url(../images/background2.jpg);
   } 
   45%{
       background-image: url(../images/background3.jpg);
   } 
   60%{
       background-image: url(../images/background4.jpg);
   } 
   75%{
       background-image: url(../images/background5.jpg);
   } 
}
*/